
# Created by https://www.toptal.com/developers/gitignore/api/java,intellij,eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=java,intellij,eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.idea
**/*/target
**/*.iml

ufcg/.mvn